.center {
    text-align: center;
}

#website-title {
    font-size: calc(12px + 0.5vw);
    
}

.flex {
    display: flex;
}


#algorithm-display, #input-selectors {
    display: flex;
    flex-direction: column;
}

#algorithm-visualizer-wrapper, #selection-wrapper {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.div-padding {
    margin: 10px 10px 10px 10px;
    width: 100%;
}

.div-title {
    font-size: calc(10px + 0.5vw)
}

.border {
    border: solid;
}

.grid {
    display: grid;
}

.outer-container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

html, body {
    height: 100%;
    border: solid;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.lists {
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}

.algorithm-titles {
    margin-bottom: 0px;
    text-decoration: underline;
    font-style: italic;
}

.bar {
    width: 50px;
    margin: 0 5px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-weight: bold;
}

#algorithm-output-div {
    display: flex;
    align-items: flex-end;
    flex-shrink: 1;
}